html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

.orange {
  background-color: orange;
}

.action-card {
  border-radius: .3em;
  overflow: hidden;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
}

.color-back {
  fill: white;
  background-color: black;
}

.center {
  display: inline-block;
}

.line {
  border-bottom: 2px solid orange;
}

.b-white {
  border-color: white;
}

.line-b {
  border-bottom: 2px solid black;
  list-style-type: none;
}

.text-white {
  color: white;
  text-decoration: none;
}

.content-orange {
  color: orange;
  fill: orange;
}

.box {
  border: 2px solid orange;
  background-color: white;
}
